h1 {
	color: red;
}

p {
	color: blue;
	font-family: Arial;
}

#miBoton {
	background-color: yellow;
	color: black;
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 10px;
}
html {
	border: 1px solid white;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 50px;
	border: 1px solid white;
}
